Plugins>JavaCV>Experimental, "IJPCV Hough Lines...", net.sf.ijplugins.javacv.imgproc.HoughLinesPlugIn

Plugins>JavaCV>Experimental, "Mat() GC Tester...", net.sf.ijplugins.javacv.imgproc.MatGCTesterPlugin

Plugins>JavaCV>Experimental, "Open with OpenCV...",  net.sf.ijplugins.javacv.imgproc.OpenWithOpenCVPlugIn
