Plugins>JavaCV>Experimental, "IJPCV Hough Lines...",     ij_plugins.javacv.imgproc.HoughLinesPlugIn
Plugins>JavaCV>Experimental, "Mat() GC Tester...",       ij_plugins.javacv.imgproc.MatGCTesterPlugin
Plugins>JavaCV>Experimental, "Open with OpenCV...",      ij_plugins.javacv.imgproc.OpenWithOpenCVPlugIn
Plugins>JavaCV>Experimental, "Region Selection Demo...", ij_plugins.javacv.RegionSelectionPlugin
