Plugins>JavaCV>Experimental, "IJPCV Hough Lines...", net.sf.ij_plugins.javacv.imgproc.HoughLinesPlugIn

Plugins>JavaCV>Experimental, "Mat() GC Tester...", net.sf.ij_plugins.javacv.imgproc.MatGCTesterPlugin

Plugins>JavaCV>Experimental, "Open with OpenCV...",  net.sf.ij_plugins.javacv.imgproc.OpenWithOpenCVPlugIn

Plugins>JavaCV>Experimental, "Region Selection Demo...", net.sf.ij_plugins.javacv.RegionSelectionPlugin
