Plugins>JavaCV>Image Processing, "Grab Cut Segmentation", ij_plugins.javacv.imgproc.GrabCutPlugIn
Plugins>JavaCV>Image Processing, "Hough Circles...",      ij_plugins.javacv.imgproc.HoughCirclesPlugIn

Plugins>JavaCV>Macbeth Chart,    "ColorChecker Detector", ij_plugins.javacv.plugins.mcc.ColorCheckerDetectorPlugin
